.DS_Store
/node_modules
.tern-port
.idea
/toc.txt
package-lock.json
/html/sitemap.html
/html/[012]*.html
/html/js/chapter_info.js
/html/js/[012]*.js
/html/js/acorn_codemirror.js
/html/js/node_modules
/code/chapter/*
/img/cover.xcf
/img/generated/*
/pdf/[012]*.tex
/pdf/hints.tex
/pdf/book.*
/pdf/book_mobile.*
/pdf/*.log
/epub/[012]*.xhtml
/epub/hints.xhtml
/epub/img/*
/epub/content.opf
/epub/toc.xhtml
